body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #333;
  background-color: #f9f9f9;
}

header {
  background-color: #007bff;
  color: white;
  padding: 1rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  padding: 0;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-weight: 700;
}

.logo {
  width: 45px;
  height: auto;
  display: flex;
  object-fit: contain;
}

.portfolio {
  padding: 2rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.portfolio h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #007bff;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.card {
  position: relative;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 300px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card-image {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 1rem;
  text-align: center;
}

.card-content h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.card-content p {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #666;
}

span.badge {
  display: flex;
  position: absolute;
  width: 70px;
  align-items: center;
  justify-content: center;
}

.btn-primary {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.menu-toggle {
  display: none;
  background: #007bff;
  color: white;
  border: 2px solid white;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 5px;
}

/* Responsive */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: row;
    align-items: center;
  }

  .nav-links.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
    margin: 0 auto;
  }
}

footer {
  background-color: #007bff;
  color: white;
  text-align: center;
  padding: 1rem;
}
